export(.mlr.local)
importFrom(utils, packageDescription)
export(bench.add)
export(bench.exp)
exportClasses(blackboost.regr)
exportClasses(adaboost)
exportClasses(bs.desc)
exportClasses(bs.instance)
export(combine.ranges)
export(conf.matrix)
export(grid.control)
export(ps.control)
exportClasses(cv.desc)
exportClasses(cv.instance)
exportClasses(data.desc)
exportClasses(gbm.regr)
exportClasses(holdout.desc)
exportClasses(holdout.instance)
exportClasses(kknn.regr)
exportClasses(kknn.classif)
exportClasses(penalized.lasso)
exportClasses(lda)
exportClasses(classif.props)
exportClasses(learner.props)
exportClasses(regr.props)
exportClasses(stats.lm)
exportClasses(loclda)
export(logger.setup)
exportClasses(logreg)
exportClasses(mda)
exportClasses(nnet.multinom)
exportClasses(naiveBayes)
export(parallel.setup)
exportMethods(performance)
exportMethods(predict)
importFrom(stats, predict)
exportClasses(qda)
exportClasses(randomForest.classif)
exportClasses(rda)
export(make.res.desc)
exportClasses(resample.desc)
export(resample.fit.iter)
exportMethods(resample.fit)
exportMethods(make.res.instance)
exportClasses(resample.instance)
exportMethods(resample.performance)
exportClasses(resample.result)
exportClasses(penalized.ridge)
exportClasses(rpart.classif)
exportClasses(subsample.desc)
exportClasses(subsample.instance)
exportClasses(kernlab.svm.classif)
exportMethods(make.classif.task)
exportClasses(classif.task)
exportClasses(learn.task)
exportMethods(make.regr.task)
exportMethods(train)
export(tune)
export(make.tune.wrapper)
exportMethods(make.learner)
exportMethods(set.train.par)
exportMethods(set.predict.par)
