exportMethods(benchmark)
exportClasses(blackboost.regr)
exportClasses(adaboost)
exportClasses(bs.desc)
export(make.bs.desc)
exportClasses(bs.instance)
exportMethods(make.bs.instance)
export(conf.matrix)
exportClasses(cv.desc)
export(make.cv.desc)
exportClasses(cv.instance)
exportMethods(make.cv.instance)
exportClasses(data.desc)
exportClasses(gbm.regr)
exportClasses(kknn.knn.regr)
exportClasses(kknn.classif)
exportClasses(penalized.lasso)
exportMethods(train.learner)
exportClasses(lda)
exportClasses(classif.props)
exportClasses(learner.props)
exportMethods(show)
exportMethods(print)
exportClasses(regr.props)
exportClasses(stats.lm)
importFrom(utils, assignInNamespace)
export(logger.define)
export(logger.error)
export(logger.warn)
export(logger.info)
export(logger.debug)
exportClasses(logreg)
exportClasses(mda)
exportClasses(naiveBayes)
export(parallel.setup)
export(make.measure)
exportMethods(performance)
exportMethods(predict)
exportClasses(qda)
exportClasses(randomForest.classif)
exportClasses(rda)
exportClasses(resample.desc)
export(resample.fit.iter)
exportMethods(resample.fit)
exportClasses(resample.instance)
exportMethods(make.resample.instance)
exportMethods(resample.performance)
exportClasses(penalized.ridge)
exportClasses(rpart.classif)
exportClasses(subsample.desc)
export(make.subsample.desc)
exportClasses(subsample.instance)
exportMethods(make.subsample.instance)
exportClasses(kernlab.svm.classif)
exportMethods(make.classif.task)
exportClasses(learn.task)
exportMethods(make.regr.task)
exportClasses(regr.task)
exportMethods(train)
export(tune)
importFrom(stats, predict)
exportClasses(wrapped.model)
