exportMethods(benchmark)
exportClasses(blackboost.regr)
exportClasses(adaboost)
exportClasses(bs.desc)
exportClasses(bs.instance)
exportMethods(make.bs.instance)
export(conf.matrix)
exportClasses(cv.desc)
exportClasses(cv.instance)
exportMethods(make.cv.instance)
exportClasses(data.desc)
exportClasses(gbm.regr)
exportClasses(kknn.regr)
exportClasses(kknn.classif)
exportClasses(lda)
exportClasses(classif.props)
exportClasses(learner.props)
exportClasses(regr.props)
importFrom(utils, assignInNamespace)
export(logger.define)
export(logger.error)
export(logger.warn)
export(logger.info)
export(logger.debug)
exportClasses(classif.logreg)
exportClasses(mda)
exportClasses(classif.nb)
importFrom(utils, assignInNamespace)
export(parallel.setup)
exportMethods(predict)
exportMethods(performance)
exportClasses(qda)
exportClasses(randomForest.classif)
exportClasses(classif.rda)
exportClasses(myknn.regr)
exportClasses(resample.desc)
export(resample.fit.iter)
exportMethods(resample.fit)
exportClasses(resample.instance)
exportMethods(make.resample.instance)
exportMethods(resample.performance)
exportClasses(rpart.classif)
exportClasses(subsample.desc)
exportClasses(subsample.instance)
exportMethods(make.subsample.instance)
exportClasses(kernlab.svm.classif)
exportMethods(train.learner)
exportMethods(make.classif.task)
exportClasses(learn.task)
exportMethods(make.regr.task)
exportClasses(regr.task)
exportMethods(train)
exportMethods(train)
exportMethods(train)
export(tune)
importFrom(stats, predict)
exportClasses(wrapped.model)
